.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.up {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  width: 90%;
}
.up > h1 {
  font-size: 36px;
  font-weight: bold;
  padding-left: 28px;
}
.space {
  /*space above filter*/
  height: 50px;
  width: 100%;
}
.rightside {
  display: flex;
  flex: 5;
  flex-direction: column;
}
