* {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.card {
  width: 250px;
  height: 450px;
  margin-right: 40px;
  margin-top: 20px ;
  transition: 00.1s ease-in;
  cursor: pointer;

}
.card:hover {
  box-shadow: 2px 2px 5px 5px #7e7e7e2b;
  border-radius: 15px;
  transition: 00.1s ease-in;
  

}
.productimage {
  position: relative; 
  width: 100%;
  height: 350px;

}
.productpic {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}
 .iconcard {
  position: absolute;
  padding: 5px;
  right: 10px;
  top: 10px;
}
.productinfo {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  
}

.description {
  margin-bottom: 10px;
  font-size: 14px;
  color: #72777A;
}

.price {
  font-weight: bold;
  font-size: 20px;
}
.realprice {
  color: #72777A;
  font-weight: bold;
  margin-left: 50px;
  text-decoration: line-through;
}