/*

    Contains the styles for both Cart Page and 
    OrderInfo Component

*/
.mainContainer {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  /* align-items: center; */
}

.empty {
  width: 15px;
}

/*
    Order Info
*/

.orderContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 60px;
  background: #eeeeef;
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.orderContainer > h2 {
  font-size: 48px;
  color: #222;
  align-self: center;
}
.Group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}
.Group > h5 {
  font-size: 25px;
  font-weight: 100;
  color: #676767;
}
.Group > p {
  font-size: 28px;
  font-weight: 600;
  color: #222;
}

.orderContainer > hr {
  margin: 15px 0px;
  width: 90%;
  align-self: center;
}
.orderContainer > button {
  width: 260px;
  height: 55px;
  font-size: 21px;
  align-self: center;
  border-color: transparent;
  border-radius: 15px;
  background-color: #34495e;
  color: #ecf0f1;
  margin: 15px 0px;
}
.orderContainer > div > a {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #2c3e50;
}
.bottomPolicy > p {
  padding: 10px;
  width: 445px;
  color: #7b7b7b;
  font-size: 16px;
  font-weight: 100;
}

.cardComponent {
  width: 445px;
  height: 20%;
  display: flex;
  background: #ffffff;
  border-radius: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  margin: 15px 5px;
  cursor: pointer;
}

.cardComponent > img {
  margin: 10px 15px;
}

.cardComponent > div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.cardComponent > div > p {
  font-size: 14px;
  color: #898989;
}

.cardComponent > div > h4 {
  font-size: 21px;
  margin-bottom: 5px;
  color: #222;
}
