
.parent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
}
.container_login {
  width: 600px;
  height: 65%;
  box-shadow: 5px 10px 10px 5px #0000002b;
  border-radius: 15px;
  margin: 55px;
  display: flex;
  flex-direction: column;
}
.loading{
  /* for the loading it has the same height and width of the real container but with 
    position set to absolute so that it overlaps the actual .container
  */
  position: absolute;
  width: 600px;
  height: 65%;
  z-index: -1; /* using this to tell the html that this goes beneath the other div then onClick setting it to 9 so that it comes on top*/
  display: flex;
  align-items: center;
  justify-content: center; 
}

.formContainer{
  height: 75%;
  display: flex;
  justify-content: space-evenly;  /* to control main axis*/
  align-items: flex-start;  /* to control cross axis*/
  flex-direction: column;
  padding-left: 45px;
}


/* all of them have pointer cursor, btns and those 2 continue with google/fb*/
button,
bottomDiv > div > img {
  cursor: pointer;
}
.return {
  width: 75px;
  height: 75px;
  border-color: transparent;
  border-radius: 15px;
  background-color: #efefef;
}
h2 {
  color: #2c3e50;
  font-size: 69px;
}
h4 {
  color: #979797;
  font-size: 20px;
}

.formGroup > input {
  border-width: 0px 0px 1px 0px;
  border-color: #c3c3c3;
  padding: 0 0 10px 65px; /*top right bottom left*/
  width: 80%;
  font-size: 26px;
}
.formGroup > input:focus {
  outline: none;
}
.labelIcon {
  position: absolute;
  top: 0;
  display: block;
}
.eye {
  cursor: pointer;
  position: absolute;
  top: 0;
  display: block;
  right: 8%;
}
.formGroup {
  position: relative;
  padding-bottom: 10px;
  width: 90%;
}
.signUp {
  text-align: center;
  margin-bottom: 20px ;
}

.signUp > p> a {
  color: #2db3ff;
  font-weight: 600;
  text-decoration: none;
}

.submitBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 285px;
  height: 80px;
  border-color: transparent;
  border-radius: 15px;
  background-color: #34495e;
  color: #ecf0f1;
  font-size: 25px;
  /*TODO: sign in in the middle w lokhra m3a tali*/
}

.bottomDiv {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 45px;
}
