@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
}
.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 600px;
  height: 915px;
  box-shadow: 5px 10px 10px 5px #0000002b;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly; /* to control main axis*/
  align-items: flex-start; /* to control cross axis*/
  flex-direction: column;
  padding-left: 45px;
  margin: 55px;
}
h2 {
  color: #2c3e50;
  font-size: 69px;
}
h4 {
  color: #979797;
  font-size: 20px;
}

input {
  border-width: 0px 0px 1px 0px;
  border-color: #c3c3c3;
  padding: 0 0 10px 65px; /*top right bottom left*/
  width: 80%;
  font-size: 26px;
}
input:focus {
  outline: none;
}
.labelIcon {
  position: absolute;
  top: 0;
  display: block;
}
.RightIcon {
  position: absolute;
  top: 0;
  display: block;
  right: 8%;
}
.formGroup {
  position: relative;
  padding-bottom: 10px;
  width: 90%;
}
.signUp {
  align-self: center;
  padding-right: 45px;
}

a {
  color: #2db3ff;
  font-weight: 600;
  text-decoration: none;
}

.submitBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 285px;
  height: 80px;
  border-color: transparent;
  border-radius: 15px;
  background-color: #34495e;
  color: #ecf0f1;
  font-size: 25px;
  /*TODO: sign in in the middle w lokhra m3a tali*/
}

.bottomDiv {
  width: 100%;
  padding-right: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.return {
  width: 75px;
  height: 75px;
  border-color: transparent;
  border-radius: 15px;
  background-color: #efefef;
}

input:focus {
  animation: inputAnimation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes inputAnimation {
  from {
    border-color: transparent;
  }
  to {
    border-color: #2c3e50;
  }
}
